.max-h-64 {
  max-height: 19rem;
}

input,
.form-textarea,
.form-select,
.form-multiselect {
  background-color: #edf2f7;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out;
}
.small-alert-title {
  font-size: 20px !important; /* Smaller font size for the title */
}

.swal2-popup {
  font-size: 25px !important; /* Smaller font size for the entire popup */
}

.swal2-timer-progress-bar {
  background-color: #00ff00 !important; /* Green color for the timer bar */
  height: 4px !important; /* Reduced height for the timer bar */
}
