
@font-face {
    font-family: 'iran';
    src:
         url('./fonts/iran.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
body{
  overflow-x: hidden

}

/* CSS Reset */

 
@tailwind base;
@tailwind components;
@tailwind utilities;

